* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
用户代理样式表
body {
    display: block;
    margin: 8px;
}
.substance {
    font-size: 18px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
.substance li {
    background: url(/Aktao/images/yuan.png) left center no-repeat;
    height: 24px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #444444;
    margin-bottom: 25px;
    padding-left: 18px;
    width: 580px;
}
li, ol {
    list-style: none;
}
用户代理样式表
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
用户代理样式表
ul {
    list-style-type: disc;
}
.substance p {
    float: left;
    width: 440px;
    color: #444444;
}
.substance p:hover{
    color: #c20d0d;
}

